<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
        配置bean
        class:bean的全类名，通过反射的方式在IOC容器中创建Bean，所以要求Bean中必须有无参构造函数
        id:标识容器中的Bean，id唯一

    -->
    <bean id="helloWorld" class="com.wufuqiang.spring.beans.HelloWorld">
        <property name="nane" value="WUFUQIANG"></property>
    </bean>

    <bean id="car" class="com.wufuqiang.spring.beans.Car">
        <constructor-arg value="Audi" index="0"></constructor-arg>
        <constructor-arg value="ShangHai" index="1"></constructor-arg>

        <constructor-arg value="300000" type="int"></constructor-arg>
        <constructor-arg type="double">
            <value>125.56</value>
        </constructor-arg>
    </bean>

    <bean id="car2" class="com.wufuqiang.spring.beans.Car">
        <property name="brand" value="dazhong"></property>
        <property name="corp" value="shanghai"></property>
        <property name="maxSpeed" value="345"></property>
        <property name="price" value="100000"></property>
    </bean>

    <bean id="person1" class="com.wufuqiang.spring.beans.Person">
        <property name="name" value="wufuqiang"></property>
        <property name="age" value="12"></property>
        <property name="car" ref="car"></property>
        <!--级联属性，注意：属性需要 先初始化后才可以为级联属性赋值，否则会有异常-->
        <property name="car.maxSpeed" value="234.56"></property>
    </bean>

    <bean id="person2" class="com.wufuqiang.spring.beans.Person">
        <property name="name" value="maoyujiao"></property>
        <property name="age" value="16"></property>
        <property name="car">
            <bean class="com.wufuqiang.spring.beans.Car">
                <property name="brand" value="ford"></property>
                <property name="corp" value="changan"></property>
                <property name="price" value="3456789"></property>
                <property name="maxSpeed" value="35.67"></property>
            </bean>
        </property>
    </bean>

    <bean id="person3" class="com.wufuqiang.spring.beans.SuperPerson">
        <property name="name" value="wufq"></property>
        <property name="age" value="30"></property>
        <property name="cars">
            <list>
                <ref bean="car"/>
                <ref bean="car2"/>
            </list>
        </property>
    </bean>

    <bean id="mapperson" class="com.wufuqiang.spring.beans.MapPerson">
        <property name="name" value="maoyj"></property>
        <property name="age" value="12"></property>
        <property name="mapCars">
            <map>
                <entry key="AA" value-ref="car"></entry>
                <entry key="BB" value-ref="car2"></entry>
            </map>
        </property>

    </bean>

</beans>